# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# out
out/

# Logs
logs/
*.log

# Data
MVTec_AD_dataset/
data/
*.csv

# Data
OpticalDataset/train/
OpticalDataset/test/

# Results
results/
outputs/
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db

# Others
.env
*.bak
*.tmp

# claude
.claude/

# test
src/test/